* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1rem;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
